body {
font-family: "Lucida Grande", Verdana, Tahoma, sans, Hei;
background-color: #FFF;
background-image: url("/img/bg.png");
background-repeat: repeat-x;
padding: 10px;
margin: 0px;
}

.svn {
font-size: 10px;
color: #CCC;
}

div.main {
width: 980px;
clear: both;
}

div.left {
float: left;
width: 690px;
padding-top: 20px;
padding-right: 10px;
padding-bottom: 10px;
}

div.right {
width: 280px;
padding-top: 20px;
padding-bottom: 10px;
margin-left: 700px;
}

div.header {
border-bottom: 1px solid #CCC;
background-color: #F0F0F0;
padding: 4px;
color: #666;
font-size: 12px;
font-weight: bold;
}

div.content {
font-size: 12px;
color: #333;
padding: 10px;
line-height: 20px;
}

div.sep {
clear: both;
height: 0px;
padding: 0px;
margin: 0px;
}

span.welcome {
color: #999;
font-size: 18px;
}

span.new {
color: #F33;
font-size: 80%;
}

span.tip {
color: #AAA;
}

a:link, a:active, a:visited {
color: #577DE4;
text-decoration: underline;
}

a:hover {
color: #00C;
text-decoration: underline;
}

blockquote {
margin: 0px;
padding: 10px 0px 10px 10px;
}

img.p {
padding: 2px;
border: 1px solid #CCC;
}
