div.blog_block {
margin: 5px 5px 10px 5px;
padding: 10px;
border: 2px solid #CCC;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
}

.blog_portrait {
border: 2px solid #D0D0DF;
}

.blog_view {
float: right;
}

.entry_comment {
padding: 5px;
font-size: 12px;
border-bottom: 1px solid #EEE;
}

.comment_author {
margin-top: 5px;
padding: 3px;
font-size: 10px;
color: #999;
}

.comment_author_q {
margin-top: 5px;
padding: 3px;
font-size: 10px;
color: #999;
background-color: #FF9;
border-left: 2px solid #FF6;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
}